* {
	margin: 0;
	padding: 0;
}
#principal {
    display: table;
    border-top: 1px solid; 
	border-right: 1px solid; 
	border-left: 1px solid; 
    width: 500px;
    height: 300px;
	margin: 0 auto;
    background-color: #2783da;
}
#areaCachorro {
	border-bottom: 1px solid; 
	border-right: 1px solid; 
	border-left: 1px solid; 
	width: 500px;
	height: 26px;
	margin: 0 auto;
}
#cachorro {
    background-image: url('cachorro.jpg');
    height: 26px ;
    width: 30px ;
}
#pontos {
	width: 502px;
	height: 70px;
	margin: 0 auto;
	background-color: #000;
	font-family: 'arial black';
	font-size: 40px;
	color: white;
}
#maisPonto {
    font-size: 20px;
    font-family: "arial black";
    color: #4bda41;
}
#menosPonto {
    font-size: 20px;
    font-family: "arial black";
    color: #F00;
}
#ossoMau {
    background-color: #F00;
    height: 5px;
    width: 20px;
    position: absolute;
}
#osso {
    background-color: #FFF;
    height: 5px;
    width: 20px;
    position: absolute;
}