#principal {
    display: table;
    background: #0000ff;
    width: 400px;
    height: 300px;
}
#cachorro {
    background-image: url('cachorro.jpg');
    height: 26px ;
    width: 30px ;
    display: block;
    margin: 376px auto 0 auto;
}
